/* Hide scrollbar while keeping scroll functionality on lg screens */
@media (min-width: 1024px) and (max-width: 1299px) {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
